body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: #ddd;
    height: 10vh;
}
main {
    display: flex;
    flex: 1;
    height: 80vh;
}
.aside1 {
    background-color: rgb(163, 56, 56);
    flex-grow: 2;
    height: 90vh;
    order: 1;
}
.smain {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    width: auto;
    height: 90vh;
    order: 2;
}
.div1 {
    display: flex;
    flex-direction: row;
    height: 50vh;
    flex: 1;
}
.m1 {
    background-color: rgb(150, 73, 45);
    height: 50vh;
    width: 50%;
}
.m2 {
    background-color: rgb(8, 35, 36);
    height: 50vh;
    width: 50%;
}
.div2 {
    background-color: burlywood;
    height: 40vh;
}
.aside2 {
    flex-grow: 2;
    height: 90vh;
    order: 3;
    background-color: rgb(0, 0, 0);
}
footer {
    background-color: rgb(99, 71, 71);
    height: 10vh;
}