body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-basis: 250px;
    height: 100vh;
    width: 100vw;
}
header {
    background-color: rgb(105, 13, 13);
    justify-content: center;
    height: 20vh;
}
.aside1 {
    background-color: coral;
    flex-grow: 2;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
}
.smain {
    background-color: rgb(7, 36, 36);
    height: 60vh;
}
footer {
    text-align: center;
    background-color: rgb(87, 15, 49);
    height: 20vh;
}